p{
    color: cadetblue;
}
h1{
    color: brown;
    background-color: coral;    
    opacity: 0,75;/*Transparenz*/
}
h2{
    color: green;
    opacity: 0,75;
    background-color: cornflowerblue;
}